body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 600px;
}

h2 {
  margin: 10px 0;
  font-size: 1.5em;
  color: #333;
}

button {
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.cigarette-image {
  max-height: 100px;
  width: auto; /* Maintient le ratio de l'image */
}

.main-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rewards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.reward-item {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.reward-item span {
  margin-right: 10px;
}

button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}


.reward-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reward-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.reward-text {
  flex: 1;
  font-size: 16px;
}

.reward-button {
  padding: 10px 15px;
  background-color: #001aff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.reward-button:disabled {
  background-color: #a9a9a9;
  cursor: not-allowed;
}

.reward-button:hover:not(:disabled) {
  background-color: #00c8ff;
}

.reward-list-scrollable {
  max-height: 400px; /* Ajustez cette valeur selon la hauteur désirée */
  overflow-y: auto;
}
